<div class="container">
<div class="row ">
<div class="col-md-8 m-auto">
    <ul class="list-group">
        <li class="list-group-item"><%= cv.nom %></li>
        <li class="list-group-item"><%= cv.prenom %></li>
        <li class="list-group-item"><%= cv.poste %></li>
        <li class="list-group-item"> <a href="/download/<%= cv._id %>"  class="btn btn-primary btn-block">Telecharger CV</a></li>
      </ul>
</div>
</div>
</div>